<div class="bg-slate-100 h-screen">
	<nav class="w-full bg-yellow-400 py-4">
		<h1 class="text-center text-2xl font-bold">TODO LIST</h1>
	</nav>
	<div class="flex flex-col w-full pt-28 items-center justify-center">
		<div>
			<div class="bg-white rounded-md py-10 px-12 shadow-lg">
				<h1 class="text-xl mt-2 text-center font-semibold text-gray-600">Whrite Todo List</h1>
				<div class="mt-6 flex space-x-4 m-10 justify-center" data-controller="hello">
					<input placeholder="write her..." class="bg-gray-100 rounded-md py-2 px-4 border-2 outline-none" data-hello-target="name" type="text"/>
					<button class="bg-yellow-400 px-4 rounded-md font-semibold" data-action="click->hello#greet">Send</button>
          <span data-hello-target="output"></span>
				</div>
      </div>
      <p class="mt-6 bg-white p-6 rounded-md text-gray-500 shadow-lg"> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
      <p class="mt-6 bg-white p-6 rounded-md text-gray-500 shadow-lg"> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
      <p class="mt-6 bg-white p-6 rounded-md text-gray-500 shadow-lg"> simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
		</div>
		<p class="absolute bottom-14 right-14 bg-yellow-400 py-2 px-4 rounded-full text-lg font-bold">?</p>
	</div>
</div>